/*  your css code here. If applicable */
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
}
h2{
	background-color: #5cb85c;
	padding: 20px;
	color:white;
}
#openModal{
	margin: 10px;
	padding: 5px;
	cursor: pointer;
}
.modal{
	display: none;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 1;
	overflow: auto;
	position: fixed;
	inset-inline-start:0;
	inset-block-start: 0;
}
.modal-content{
	background-color: white;
	padding: 20px;
	width: 90%;
	margin: 10% auto;
	position: relative;
	animation-duration: 0.4s;
	animation-name: slidedown;
}
.close-modal{
	float: right;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	font-weight: bold;
	color: lightgrey;
	cursor: pointer;
}
.modal-body{
	margin: 10px;
}
@keyframes slidedown{
	from{top:-300px;opacity: 0;}
	to{top:0;opacity:1;}
}
